body {background-image: url(images/BG.jpg); background-size: cover;}
nav {position: fixed; width: 100%; margin: 0 auto; color:white; background-color: blueviolet;} 
nav h1 {margin-left: 20px;}
.post1 img { margin-left: 100px; margin-top: 120px; border: 5px groove blueviolet;}
.post1 h2{  color: white; width:400px; margin-left:720px; margin-top: -350px; text-align: center; font-weight: bold;}
.post1 p {color: white; width:500px; margin-left: 700px; text-align:left;}
.video {margin: 0 auto; text-align: center; }
iframe {border: blueviolet 5px double;}
.advice {margin: 0 auto; text-align: center; color:blueviolet; } 
.advice p {width: 700px; text-align: center; margin: 0 auto;}

.ISP {color: white; text-align: center;}
.ISP p {width: 600px; text-align: center; margin: 0 auto;}

nav {width: 100%;}
nav img {float: right; margin-right: 15px; margin-top: -65px;}

.circle {border: black solid 3px; border-radius: 50%; width: 400px; height: 400px; margin: 0 auto; text-align: center; background-color: cornflowerblue;}
.circle h3, .circle ul {margin-top: 50px; font-weight: bold;}
.circle li {margin: 8px; list-style:none; font-weight: 900; margin-left: -10px;}
.circle:hover {background-color: rgba(204, 45, 106, 0.788); transform: rotate(360deg); transition-duration:2s;}
.good {color: rgb(5, 77, 5);}
.bad {color: darkred;}
.circle {display: inline-block; text-align: center; margin: 0 auto;}
.circles {text-align: center; margin: 0 auto;}
.threats {color: white; text-align: center; margin: 0 auto;}
.threat p {width: 300px;}
.threat {display: inline-block; margin: 10px; }
.virus p {margin-top: 30px;}